
<script src="../static/js/addNewImage.js" type="text/javascript"> </script>


<div class="grid-container">
    <div class="Header" style="margin: 0 auto;  text-align: center;">
        <h1>Draw your best <span class="warm">alien</span> in the box!</h1>
        <p>Click the green button when you are finished</p>
    </div>
    <div class="canvas" id="editor"></div>
    <div class="image" id='exampleImagediv' style="margin: 0 auto;  text-align: center;">
        <img id="exampleimage" src="../static/images/3004.png"  height="400" width="400"/>
    </div>
    <div class="buttons" style="margin: 0 auto;  text-align: center;">
        <button type="button" id="Undo" value="next" class="btn btn-warning btn-lg" onclick="e">
            Undo last
        </button>

        <button type="button" id="StartOver" value="next" class="btn btn-danger btn-lg">
            Start over
        </button>

        <button type="button" id="NextSketch" value="next" class="btn btn-info btn-lg">
            Next Drawing
        </button>

        <button type="button" id="Next" value="next" class="btn btn-success btn-lg">
            I'm Done!
        </button>


    </div>
    <div class="footer"></div>
</div>
